html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Heebo", sans-serif;
}

html,
body {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url(./images/flight-landscape-nature-sky-36717.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 10fr;
  grid-template-areas:
    "header"
    "main-page";
}

.container {
  grid-area: "header";
  display: flex;
  justify-content: space-between;
  background-color: rgba(250, 243, 243, 0.1);
  align-items: center;
}

.logo-itself {
  text-align: center;
  margin-left: 2rem;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 3px;
  animation-name: alireza;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  padding: 0.1rem;
}

@keyframes alireza {
  from {
    color: #fff;
    border-radius: 50px;
    background-color: rgba(124, 252, 0, 0.2);
  }
  to {
    color: red;
    border-radius: 5px;
    background-color: rgba(255, 0, 255, 0.3);
    color: lightskyblue;
  }
}

@keyframes ali {
  0% {
    top: 0;
    left: 30px;
  }

  100% {
    top: 0;
    left: 0;
  }
}

/* nav bar styles */

.menu__icons {
  display: none
}

.nav-itself {
  display: flex;
  align-items: center;
}

.nav-itself .nav-ul {
  display: flex;
  list-style: none;
  margin-right: 300px;
}

.nav-itself .nav-li {
  margin-right: 15px;
  color: #fff;
  transition: all 0.5s ease-out;
  padding: 5px;
  align-items: center;
}

.nav-itself .nav-li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
}

.nav-itself .nav-li:hover {
  background-color: lawngreen;
  transform: scale(1.2);
  border-radius: 5px;
  cursor: pointer;
  border-bottom: none;
}

/* search bar styles */
.search-box {
  background-color: lawngreen;
  position: absolute;
  right: 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  align-self: center;
}

.search-txt {
  height: 30px;
  width: 0px;
  border: none;
  outline: none;
  display: flex;
  background: none;
  float: left;
  padding: 0;
  color: #fff;
  transition: all 0.5s linear;
}

.search-box:hover > .search-txt {
  width: 200px;
  color: #fff;
}

.fa {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #fff;
  background-color: lawngreen;
  padding: 5px;
  border-radius: 50%;
}

/* main-page styles */

.main-page {
  grid-area: "main-page";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page-content {
  padding: 15px;
  border: none;
  line-height: 50px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-self: center;
}

.header-1 {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.button-contents {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btns {
  padding: 5px;
  width: 200px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50px;
  font-size: larger;
  font-weight: 900;
  color: #fff;
  transition: transform 0.5s linear;
  outline: none;
  border: none;
}

.signup-btn {
  background: transparent;
  border: 1px solid yellow;
  transition: all 0.5s linear, all 0.5s linear;
}

.signin-btn {
  background-color: rgba(124, 252, 0, 0.8);
}

.btns:hover {
  transform: scale(1.2);
  outline: none;
  cursor: pointer;
}

/*responsive designs starts here*/

.main-container {
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "header"
    "main-page";
}


@media screen and (max-width: 480px) {
  .header-logo {
    align-self: center;
    float: left;
  }

  .logo-itself {
    text-align: center;
    margin-left: 1rem;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 1px;
    animation-name: alireza;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    padding: 0.1rem;
  }

  @keyframes alireza {
    from {
      color: #fff;
      border-radius: 50px;
      background-color: rgba(124, 252, 0, 0.2);
    }
    to {
      color: red;
      border-radius: 5px;
      background-color: rgba(255, 0, 255, 0.3);
      color: lightskyblue;
    }
  }

  @keyframes ali {
    0% {
      top: 0;
      left: 30px;
    }

    100% {
      top: 0;
      left: 0;
    }
  }

  /* nav bar styles */

  .nav-itself {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 80%;
    background-color: #313131;
    color: #fff;
    z-index:-10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform .5s ease-in;
  }

  .menu__icons {   /*menu icon styles*/
    display: block;
    align-self: center;
    display: flex;
    align-items: center;
    margin-right: .5rem;
    cursor: pointer;
  }
  
 .menu__icons .close {
   display: none;
 }

 .open .close {
   display: block;
 }

 .open .bars {
   display: none;
 }

 .open .nav-itself {
   transform: translateX(0);
 }

 .container::before {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: #313131;
   z-index: 900;
   transform: scale(0);
   opacity: 0;
   transition: opacity .5s;
 }

  .nav-itself .nav-ul {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    list-style: none;
    margin:20px 0 0 20px;
  }

  .nav-itself .nav-li {
    color: #fff;
    transition: all 0.5s ease-out;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid #fff;
    text-align: center;
  }

  .nav-itself .nav-li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 13px;
  }

  .nav-itself .nav-li:hover {
    background-color: lawngreen;
    transform: scale(1.1);
    border-radius: 5px;
    cursor: pointer;
    border-bottom: none;
  }

  /* search bar styles */
  .search-box {
    background-color: lawngreen;
    position: absolute;
    right: 15px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    align-self: center;
  }

  /* main-page styles */

  .main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-content {
    padding: 15px;
    border: none;
    line-height: 35px;
  }

  .header-1 {
    color: #fff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }

  .button-contents {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .btns {
    padding: 5px;
    width: 100px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50px;
    font-size: .9rem;
    letter-spacing: 2px;
    font-weight: 500;
    color: #fff;
    transition: transform 0.5s linear;
    outline: none;
    border: none;
  }

  .signup-btn {
    background: transparent;
    border: 1px solid yellow;
    transition: all 0.5s linear, all 0.5s linear;
  }

  .signin-btn {
    background-color: rgba(124, 252, 0, 0.8);
  }

  .btns:hover {
    transform: scale(1.2);
    outline: none;
    cursor: pointer;
  }
}
