html {
  box-sizing: border-box;
}

* , *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Heebo", sans-serif;
}

html,
body {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(./images/city.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  animation: slide 120s linear infinite;
}

@keyframes slide {
    0% {
        background-image: url(./images/city.jpg);
    }
    33% {
        background-image: url(./images/flight-landscape-nature-sky-36717.jpg);
    }
    66% {
        background-image: url(./images/abstract-art-artistic-autumn-459301.jpg);
    }
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: 
  "header"
  "main-page";
}

.container {
  grid-area: "header";
  display: flex;
  justify-content: space-between;
  position: sticky;
  flex-direction: row;
  height: 15vh;
  background-color: rgba(250, 243, 243, 0.1);
  align-items: center;
}

.header-logo {
  align-self:center;
}

.logo-itself {
  text-align: center;
  margin-left: 2rem;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 3px;
  animation-name: alireza;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  padding: .1rem;
}

@keyframes alireza {
  from {
    color: #fff;
    border-radius: 50px;
    background-color: rgba(124, 252, 0, 0.2);
  }
  to {
    color: red;
    border-radius: 5px;
    background-color: rgba(255, 0, 255, 0.3);
    color: lightskyblue;
  }
}

@keyframes ali {
  0% {
    top: 0;
    left: 30px;
  }

  100% {
    top: 0;
    left: 0;
  }
}

/* nav bar styles */

.nav-itself {
  align-self:center;
  display: flex;
  align-items: center;
}

.nav-itself .nav-ul {
  display: flex;
  list-style: none;
  margin-right: 300px;
}

.nav-itself .nav-li {
  margin-right: 15px;
  color: #fff;
  transition: all 0.5s ease-out;
  padding: 5px;
  padding-top: 5px;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.nav-itself .nav-li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 800;
}

.nav-itself .nav-li:hover {
  background-color: lawngreen;
  transform: scale(1.5);
  border-radius: 5px;
  cursor: pointer;
  border-bottom: none;
}

/* search bar styles */
.search-box {
  background-color: lawngreen;
  position: absolute;
  right: 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  align-self:center;
}

.search-txt {
    height: 30px;
    width: 0px ;
    border: none;
    outline: none;
    display: flex;
    background: none;
    float: left;
    padding: 0;
    color: #fff;
    transition: all 0.5s linear;
}

.search-box:hover > .search-txt {
    width: 200px;
    color: #fff;
}

.fa {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #fff;
  background-color: lawngreen;
  padding: 5px;
  border-radius: 50%;
}



/* main-page styles */

.main-page {
  position: relative;
  top: 15vh;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-content {
  padding: 15px;
  border: none;
  line-height: 50px;
}

.header-1 {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.button-contents {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.btns {
  padding: 5px;
  width: 200px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50px;
  font-size: larger;
  font-weight: 900;
  color: #fff;
  transition: transform 0.5s linear;
  outline: none;
  border: none;
}

.signup-btn {
  background: transparent;
  border: 1px solid yellow;
  transition: all 0.5s linear, all 0.5s linear;
}

.signin-btn {
  background-color: rgba(124, 252, 0, 0.8);
}

.btns:hover {
  transform: scale(1.2);
  outline: none;
  cursor: pointer;
}


/*responsive designs starts here*/

@media screen and (max-width:480px) {
  
.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: 
  "header"
  "main-page";
  overflow: hidden;
}

.container {
  grid-area: "header";
  display: flex;
  justify-content: space-between;
  position: sticky;
  max-height: 15vh;
  background-color: rgba(250, 243, 243, 0.1);
  align-items: center;
}

.header-logo {
  align-self:center;
}

.logo-itself {
  text-align: center;
  margin-left: 1rem;
  color: #fff;
  font-size: .8rem;
  letter-spacing: 1px;
  animation-name: alireza;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  padding: .1rem;
}

@keyframes alireza {
  from {
    color: #fff;
    border-radius: 50px;
    background-color: rgba(124, 252, 0, 0.2);
  }
  to {
    color: red;
    border-radius: 5px;
    background-color: rgba(255, 0, 255, 0.3);
    color: lightskyblue;
  }
}

@keyframes ali {
  0% {
    top: 0;
    left: 30px;
  }

  100% {
    top: 0;
    left: 0;
  }
}

/* nav bar styles */

.nav-itself {
  align-self:center;
  display: flex;
  align-items: center;
  height: 100vh;
}

.nav-itself .nav-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.nav-itself .nav-li {
  color: #fff;
  transition: all 0.5s ease-out;
  padding: 5px;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.nav-itself .nav-li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 800;
}

.nav-itself .nav-li:hover {
  background-color: lawngreen;
  transform: scale(1.5);
  border-radius: 5px;
  cursor: pointer;
  border-bottom: none;
}

/* search bar styles */
.search-box {
  background-color: lawngreen;
  position: absolute;
  right: 15px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  align-self:center;
}



/* main-page styles */

.main-page {
  position: relative;
  top: 15vh;
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-content {
  padding: 15px;
  border: none;
  line-height: 50px;
}

.header-1 {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.button-contents {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.btns {
  padding: 5px;
  width: 200px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50px;
  font-size: larger;
  font-weight: 900;
  color: #fff;
  transition: transform 0.5s linear;
  outline: none;
  border: none;
}

.signup-btn {
  background: transparent;
  border: 1px solid yellow;
  transition: all 0.5s linear, all 0.5s linear;
}

.signin-btn {
  background-color: rgba(124, 252, 0, 0.8);
}

.btns:hover {
  transform: scale(1.2);
  outline: none;
  cursor: pointer;
}

}

